Flask==2.2.3
youtube-transcript-api==0.5.1
transformers==4.27.4
torch==1.12.1
flask-cors
keybert
fpdf
gtts 
nltk
yt-dlp
reportlab
newspaper3k
fpdf
imageio[ffmpeg]
openai
deep_translator
